@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CreateGameFromViewModel
<h2>
    </h2>
<div class="d-flex justify-content-center" >
    <form asp-action="create" class="w-50" enctype="multipart/form-data">
        <div class="form-group mt-2">
            <label asp-for="Name" class="mb-1 text-info"></label>
            <input class="form-control"  asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>

           </div>
        <div class="form-group mt-2">
            <label asp-for="CategoryId" class="mb-1 text-info"></label>
            <select asp-for="CategoryId" class="form-select rounded" asp-items="Model.Categories">
                <option></option>
                </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="SelectedDevices" class="mb-1 text-info"></label>
            <select asp-for="CategoryId" class="form-select mt-2" multiple asp-items="Model.Devices">
                <option></option>
            </select>
            <span asp-validation-for="SelectedDevices" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="Description" class="mb-1 text-info"></label>
            <textarea class="form-control" class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="Cover" class="mb-1 text-info"></label>
            <input type="file" class="form-control" asp-for="Cover" />
             <small class="d-block mt-1 mb-1">Only .jpg .png .jpes files are allowed with max size 1MB</small>
            <span asp-validation-for="Cover" class="text-danger "></span>
        </div>
        <input type="submit" value="CreateNew" class="btn btn-success mt-3"  />

@*         <a type="submit" class="btn btn-success" asp-action="Index" asp-controller="Devices">Create</a>
 *@       </form>
    </div>